.mainCard{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pTag{
    font-size: 30px;
    font-style: italic;
    color: white;
}

.img{
    border-radius: 10px;
    transition: all 0.8s;
}

.img:hover{
    opacity: 70%;
}